
<div class="page-header">
    <h1 id="pageid">ツイート一覧</h1>
</div>

<form class="form-inline search-form" role="form">
    <div class="form-group">
        <label class="sr-only" for="searchform-id">ID</label>
        <input type="number" class="form-control input-sm" id="searchform-id" placeholder="ID(#)">
    </div>
    <div class="form-group">
        <label class="sr-only" for="searchform-name">内容</label>
        <input type="content" class="form-control input-sm" id="searchform-name" placeholder="内容">
    </div>
    <!--<div class="form-group checkbox">
        <label>
            <input type="checkbox"> 削除
        </label>
        </div>-->
    <button type="submit" class="btn btn-primary btn-sm">検索</button>
</form>

<div class="box row">
    <div class="col-md-6">
        <p>200件</p>
    </div>
    <div class="col-md-6">
        <ul class="pull-right pagination pagination-sm">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>投稿内容</th>
            <th>投稿 URL</th>
            <th>登録日時</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>3</td>
            <td>@aganoyot ( ´∀｀)bｸﾞｯ!</td>
            <td>
                <a href="https://twitter.com/vimmer_/status/495239100962598913">https://twitter.com/vimmer_/status/495239100962598913</a>
            </td>
            <td>2014-09-07 14:12</td>
        </tr>
        <tr>
            <td>2</td>
            <td>@masahiiiro ( ´∀｀)bｸﾞｯ!</td>
            <td>
                <a href="https://twitter.com/vimmer_/status/495239100962598913">https://twitter.com/vimmer_/status/495239100962598913</a>
            </td>
            <td>2014-09-07 14:12</td>
        </tr>
        <tr>
            <td>1</td>
            <td>@tetsukamp ( ・３・) BOO!!!</td>
            <td>
                <a href="https://twitter.com/vimmer_/status/495239100962598913">https://twitter.com/vimmer_/status/495239100962598913</a>
            </td>
            <td>2014-09-07 14:12</td>
        </tr>
    </tbody>
</table>

<div class="box row">
    <div class="col-md-6">
        <p>200件</p>
    </div>
    <div class="col-md-6">
        <ul class="pull-right pagination pagination-sm">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
</div>

