html,
body {
    height: 100%;
}

body {
    padding-top: 70px;
}

.wrapper {
    min-height: 800px;
}

.system-navbar {
    text-shadow: 0 -1px 0 rgba(0,0,0,.15);
    /*background-color: #563d7c;*/
    /*border-color: #463265;*/
    box-shadow: 0 2px 3px rgba(0,0,0,.4);
}
/*
.system-navbar .navbar-collapse {
  border-color: #463265;
}
.system-navbar .navbar-brand {
  color: #fff;
}
.system-navbar .navbar-nav > li > a {
  color: #cdbfe3;
}
.system-navbar .navbar-nav > li > a:hover {
  color: #fff;
}
.system-navbar .navbar-nav > .active > a,
.system-navbar .navbar-nav > .active > a:hover {
  color: #fff;
  background-color: #463265;
}
.system-navbar .navbar-toggle {
  border-color: #563d7c;
}
.system-navbar .navbar-toggle:hover {
  background-color: #463265;
  border-color: #463265;
}
*/

.box {
    margin-top: 15px;
    margin-bottom: 15px;
}
.box .pagination {
    margin: 0;
}

.search-form {
    margin-top: 15px;
    margin-bottom: 30px;
    background-color: #f0f7fd;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #d0e3f0;
}
.search-form .row {
    margin-bottom: 10px;
}
.search-form .form-group {
    margin-right: 10px;
}



/* Set the fixed height of the footer here */
#footer {
    margin-top: 60px;
    padding: 15px;
    background-color: #f5f5f5;
}
#footer p {
    margin: 0;
}

