<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Backyard - Vim man bot</title>
        <link href="vendor/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="assets/css/login.css" rel="stylesheet">
        <!--<link href="vendor/assets/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">-->
    </head>
    <body>
  
        <div class="container wrapper">
            <form class="form-signin" role="form" action="/api/users/login" method="post">
                <input type="text" name="username" class="form-control form-control-top" placeholder="Username" required autofocus>
                <input type="password" name="password" class="form-control form-control-bottom" placeholder="Password" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">ログイン</button>
            </form>
        </div>
        <!-- /container -->

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="vendor/assets/jquery/jquery-2.1.1.min.js"></script>
        <script src="vendor/assets/bootstrap/js/bootstrap.min.js"></script>
    </body>
    <!-- vim:foldmethod=marker:foldlevel=0 -->
</html>
