
<div class="page-header">
    <h1 id="pageid">応答内容の編集</h1>
</div>

<form class="form-horizontal" role="form" action="./responses.html" method="post">
    <div class="form-group">
        <label class="col-lg-2 control-label">
            応答内容の状態
        </label>
        <div class="col-lg-10">
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                    未公開（作りかけのとき用）
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                    公開
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">
            応答内容の種類
        </label>
        <div class="col-lg-10">
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                    正答
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                    誤答
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="content" class="col-lg-2 control-label">応答内容</label>
        <div class="col-lg-10">
            <textarea class="form-control" id="content" name="question[content]" placeholder="" rows="3">( ´∀｀)bｸﾞｯ!</textarea>
            <p class="help-block">例）(´ﾟдﾟ｀)ｴｰ</p>
        </div>
    </div>
    <div class="form-group">
        <label for="content" class="col-lg-2 control-label">作成情報</label>
        <div class="col-lg-10">
            <p class="form-control-static">masahiiiro（2014-09-15 12:12:23）</p>
        </div>
    </div>
    <div class="form-group">
        <label for="content" class="col-lg-2 control-label">更新情報</label>
        <div class="col-lg-10">
            <p class="form-control-static">unko（2014-09-15 13:12:23）</p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button type="submit" class="btn btn-success btn-lg">更新</button>
        </div>
    </div>
</form>

