
<div class="page-header">
    <h1 id="pageid">お知らせ一覧</h1>
</div>

<div v-component="pagination" v-with="result"></div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>状態</th>
            <th>お知らせ内容</th>
            <th>登録者</th>
            <th>更新者</th>
            <th>登録日時</th>
            <th>更新日時</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr v-repeat="info: result.list">
            <td>{{ info.id }}</td>
            <td>{{ info.state }}</td>
            <td>{{ info.content }}</td>
            <td v-repeat="info.creator">{{ username }}</td>
            <td v-repeat="info.updater">{{ username }}</td>
            <td>{{ info.created_at | formatDate }}</td>
            <td>{{ info.updated_at | formatDate }}</td>
            <td>
                <a href="#/informations/{{ id }}/update" class="btn btn-default btn-xs">編集</a>
                <a href="javascript:void(0)" v-on="click: remove(id)" class="btn btn-danger btn-xs">削除</a>
            </td>
        </tr>
    </tbody>
</table>

<div v-component="pagination" v-with="result"></div>

